body {
    padding-top: 50px;
    background-color: #eaeaea;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding:0px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*---------------------------------------------------------*/
/*header css*/

.nav-container {
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.small-navbar {
    display: flex;
    align-content: center;
    background-color: #1a1a1a;
    list-style-type: none;
}

    .small-navbar a {
        float: left;
        padding: 2px 10px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        color: lightgrey;

    }
    .small-navbar a:hover{
        color: white;
    }
.small-navbar-account {
    display:inline-block;
    float: right;
    
}
    .nor-navbar {
        display: flex;
        
        align-content: center;
        align-items: center;
        padding: 0px 10px;
    }
    .nor-navbar .logo {
    }
        .nor-navbar nav {
            flex: 1;
            text-align: left;
        }
        .nor-navbar nav ul {
/*            list-style-type: none;
            overflow: hidden;*/
/*            align-items: center;*/
            padding-top: 10px;
            min-width: 220px;

        }
            .nor-navbar nav ul li {
                display: inline-block;
                padding: 5px;
                float: left;
                margin-right: 10px ;
            }
                .nor-navbar nav ul li a {
                    text-decoration: none;
                    color: black;
                    font-size: 30px;
                }

                    .nor-navbar nav ul li a:hover {
                        color: #FA7268;
                    }
.find {
    display: flex;
}
    .find img {
        width: 30px;
        padding: 3px;
    }
    .find input {
        width: 100px;
        margin-left: 5px;
        padding: initial;
        border: 2px solid black;
        transition: width 1s;
    }

        .find input[type=text]:focus {
            width: 200px;
            color: #FA7268;
            border: 2px solid black;
            border-radius: 0px;
        }
        .logo img{
        max-width: 75px;
        width: 100%;

        }

.caret-down {
    align-self: center;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    transform: rotate(45deg);
}

.caret-up {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: -6px;
/*    vertical-align: middle;*/
    border-bottom: 10px solid gray;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}


.dropdown {
    position: relative;
    display: inline-block;
}

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .caret-down {
        transform: rotate(-135deg);
    }

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    
}

.dropdown-bg {
    margin: 0;
    background-color: #2f2f2f;
    padding: 12px 16px;
    border-radius: 5px;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu-items img{
    width: 100px;
    max-width: 100%;
}
.header-dropdown-category{

}

    .header-dropdown-category a{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
    }
/*end header css*/
/*---------------------------------------------------------*/
/*footer css*/
.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    align-items:stretch;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #6b6b6b;
}

    .footer-container h3{
        color: white;
    }
    .footer-container p, .footer-container li{
        color: #b5b5b5;
    }
        .footer-container li:hover {
            color: lightgray;
        }


.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
    padding: 15px;
}

    .footer-col-2 img {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: darkgray 0px -5px 0px;
    }
        .footer-col-2 img:active {
            margin-top: 0px;
            margin-bottom: 25px;
            box-shadow: darkgray 0px 0px 0px;
        }

.footer-col-3, .footer-col-4 {
    flex-basis: 15%;
}

    .footer-col-3 h3, .footer-col-4 h3 {
        color:white;
    }

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

    .app-logo img {
        width: 140px
    }

.footer hr {
    background-color: #b5b5b5;
    margin: 30px;
}

.copyright {
    text-align: center;
}

.copyright a{
    text-align: center;
    text-decoration: none;
    color: white;
}



/*end footer css*/


/*------------------------------------------*/
/*body*/
.body-container {
    max-width: 1300px;
    margin: auto;
    padding: 30px;
    align-items: center;
}

.body-container hr{
    border:1px solid grey;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1300px;
    position: relative;
    margin: 20px;
    
}

/* Hide the images by default */
.mySlides {
    display: none;
}
    .mySlides img{
        
    }
/* Next & previous buttons */
.prev, .next {
    position: absolute;
    width: 5%;
    padding: 16px;
    color: rgb(0 0 0 / 0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    align-items: center;
    background-color: rgb(0 0 0 / 0.4);
    height: 100%;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 0px 3px 3px 0px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgb(0 0 0 / 0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 80%;
    text-align: center;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);
    transform: translate(-50%, 0);
    left: 50%;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(0 0 0 / 0.60);
    border-radius: 5px;
    transform: translate(-50%, 0);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    background-color: #bbb;
    display: inline-block;
    max-width: 100px;
    min-width: 50px;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #FA7268;
    }

.index-item {
    align-content: center;
}

.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .category-item h3 {
        width: auto;
        position: absolute;
        color: white;
        text-shadow: 0px 0px 8px #000000;
        transition-duration: 0.3s;
    }

    .category-item:hover h3 {
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,0) 100%);
    }

    .category-item a img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
       
    }

.index-category {
    max-width: 1300px;
    text-align: center;

}
    .index-category .row h3 {
        font-size: 30px;
        padding: 8px 12px;
        bottom: 8px;
        width: 100%;
    }
.index-bestSeller {
    max-width: 1300px;
    text-align: center;
}



.col-1 {
    flex-basis: 100%;
    padding: 5px;

}

.col-2 {
    flex-basis: 50%;
    padding: 10px;
    border-radius: 2px;
    transition: 0.3s;
}

.col-3 {
    flex-basis: 30%;
    min-width: 160px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 2px 2px 10px 10px;
    transition: 0.3s;
}

    .col-3 img {
        max-width: 100%;
        border-radius: 2px 2px 10px 10px;
    }



.col-4 {
    flex-basis: 22%;
    padding: 10px;
    min-width: 160px;
    justify-content: center;
    border-radius: 2px;
}
.col-5 {
    flex-basis: 20%;
    padding: 25px;
}
.col-5 img{
    width: 100%;
}

.product {
    transition: 0.3s;
}

    .product img {
    max-width: 100%;
    border-radius: 2px;
    }



    .product a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }
        .product a:hover {
            color: #FA7268;
        }

    .product h2 {
        text-align: center;
    }

    .product p {
        text-align: center;
        color: gray;
    }

    .product hr {
        border: 3px dashed gray;
        height: 0px;
    }

    .product:hover {
        transform: translateY(-5px) scale(1.005, 1.0005);
    }

    .product .btn-add {
        visibility:hidden;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: rgb(250 114 104 / 0.7);
        color: white;
        font-size: 16px;
        padding: 10px 15px;
        cursor: pointer;
        text-align: center;
        user-select: none;
        margin: auto;
    }

        .product .btn-add:hover {
            background-color: rgb(250 114 104 / 0.9);
        }

        .product .btn-add:active {
            background-color: rgb(250 114 104 / 1);
        }
    .product:hover .btn-add {
        visibility: visible;
    }

    .product .btn-like {
        visibility: hidden;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: rgb(250 114 104 / 0.7);
        color: white;
        font-size: 16px;
        padding: 10px 15px;
        cursor: pointer;
        text-align: center;
        user-select: none;
        margin: auto;
    }

        .product .btn-like:hover {
            background-color: rgb(250 114 104 / 0.9);
        }

        .product .btn-like:active {
            background-color: rgb(250 114 104 / 1);
        }

    .product:hover .btn-like {
        visibility: visible;
    }

.product:hover hr {
    border-block-color: #FA7268;
}

.product-detail {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.product-img {
    position: relative;
}

.cart-product {
    border: 3px solid white;
    border-radius: 5px;
}

.cart-product img {
    width: 100%;
    
}

    .cart-product h1 {
        left: 0;
        right: 0;
    }

.cart-product-item {
    align-items: stretch;
    
}
    .cart-product-item .selected-product {
        padding: 10px 9px;
    }
        .cart-product-item .selected-product span{
            
            padding: 1px 4px;
            cursor: pointer;
        }

.cart-title {
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}
    .cart-title p {
        margin: 10px;
        font-size: 20px;
        
    }
.cart-order {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.btn-continue {
    background-color: #FA7268;
    color: white;
    text-align: center;
    cursor: pointer;
}

.btn-continue:hover {
    background-color: #a72246;
}
    .btn-continue:active {
        background-color: #FA7268;
    }

.btn-continue b{
    margin: 10px 0px;
}

.cart-product-item{
}
    .cart-product-item .btn-cart {
        left: 0;
        right: 0;
        text-align: center;
        background-color: #FA7268;
        padding: 5px;
        margin: 10px 0px;
        color: white;
        align-self: flex-end;
        cursor: pointer;
    }

        .cart-product-item .btn-cart:hover {
            background-color: #a72246;
        }

        .cart-product-item .btn-cart:active {
            background-color: #FA7268;
        }
/*end body*/
/*-----------------------------------------------------------------------*/
.col-25 {
    flex-basis: 25%;
    min-width: 100px;
    justify-content: center;
}
.col-70 {
    flex-basis: 70%;
    min-width: 400px;
    justify-content: center;
}

.pd-25 {
    padding: 25px;
}
 .filter-list {
     background-color: white;
 }

.col-55 {
    flex-basis: 55%;
    justify-content: center;
}

.col-40 {
    flex-basis: 40%;
    justify-content: center;
}

.col-95 {
    flex-basis: 95%;
    justify-content: center;
}

.col-90 {
    flex-basis: 90%;
    justify-content: center;
}

.col-85 {
    flex-basis: 85%;
    justify-content: center;
}

.col-80 {
    flex-basis: 80%;
    justify-content: center;
}

.col-90 {
    flex-basis: 75%;
    justify-content: center;
}



.expand {
    margin: 10px;
    border: 1px solid blue;
    cursor: pointer;
}

    .expand ul {
        display: none;

    }

    .expand:hover ul {
        display: normal;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*product detail*/

.product-detail-button {
    text-align: center;
    justify-content: space-around;
    width: 100%;
}




    .product-detail-button a {
        align-content: center;
        background-color: #FA7268;
        color: white;
        display: block;
        text-decoration: none;
        cursor: pointer;
        padding: 10px;
        margin: 10px auto;
    }

        .product-detail-button a:hover {
            background-color: #d9445f;
        }

/*    EndProduct details*/

/*---------------------------------------------------------*/


/*custom item*/
.border-debug {
    border: 1px solid red;
}

.height-debug {
    height: 100px;
}

.align-flex-start {
    align-items: flex-start;
}
.body-margin {
    margin-top: 50px;
}

.floating-cart {
    position: fixed;
    right: 0;
    top: 20%;
    background-color: coral;
    padding: 10px;
    z-index: 10;
    border-radius: 10px 0px 10px 5px;
    text-align: center;
    cursor: pointer;
}
.floating-cart img{
    width: 20px;
}

    .floating-cart p{
        margin: auto;
        margin-top: 5px;
    }

.animation-1 {
    transform: translateY(-10px) scale(1.02, 1.02);
}

.animation-2 {
    transform: translateY(-5px) scale(1.005, 1.0005);
}

.background-white {
    background-color: #f6f6f6;
}

.order-product {

}

    .order-product p{
        margin-left: 10px;
    }
.back-white {
    background-color: white;
}

.back-coral {
    background-color: #FA7268;
}

.color-white {
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    background-color: rgb(0 0 0 / 0.20);
}

.color-coral {
    color: rgb(0 0 0 / 0);
    border: 2px solid #FA7268;
    border-radius: 2px;
    background-color: rgb(0 0 0 / 0.20);
}

.order-delivery-inf {
    margin: 20px;
}
.order-delivery-inf radio-form b{
    margin: 0px 10px;
}

.btn-submit {
    left: 0 ;
    right: 0;
    text-align: center;

}
    .btn-submit input[type=submit] {
        margin-top: 20px;
        background-color: #FA7268;
        border: none;
        color: white;
        width: 100%;
        padding: 16px 32px;
        text-decoration: none;
        cursor: pointer;
    }
    .btn-submit:hover input[type=submit] {
        background-color: #a72246;
    }

    .btn-submit:active input[type=submit] {
        background-color: #FA7268;
    }
/*---------------------------------------------------------------*/

