body {
    background-color: #eaeaea;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding:0px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*---------------------------------------------------------*/
/*header css*/

.nav-container {
    max-width: 1300px;
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.small-navbar {
    display: flex;
    align-content: center;
    background-color: #1a1a1a;
    list-style-type: none;
}

    .small-navbar a {
        float: left;
        padding: 2px 10px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        color: lightgrey;

    }
    .small-navbar a:hover{
        color: white;
    }
.small-navbar-account {
    display:inline-block;
    float: right;
    
}
    .nor-navbar {
        display: flex;
        align-content: center;
        align-items: center;
        padding: 0px 10px;
    }
    .nor-navbar .logo {
    }
        .nor-navbar nav {
            flex: 1;
            text-align: left;
        }
        .nor-navbar nav ul {
/*            list-style-type: none;
            overflow: hidden;*/
/*            align-items: center;*/
            padding-top: 10px;
            min-width: 220px;

        }
            .nor-navbar nav ul li {
                display: inline-block;
                padding: 5px;
                float: left;
            }
                .nor-navbar nav ul li a {
                    text-decoration: none;
                    color: black;
                    font-size: 30px;
                }

                    .nor-navbar nav ul li a:hover {
                        color: #FA7268;
                    }
.find {
    display: flex;
    float: right;
}
    .find img {
        width: 30px;
        padding: 3px;
    }
    .find input {
        width: 100px;
        margin-left: 5px;
        padding: initial;
        border: 2px solid black;
    }

        .find input:focus {
            width: 200px;
            color: #FA7268;
        }
        .logo img{
        max-width: 75px;
        width: 100%;
        }
.dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid red;
}

    .dropdown:hover .dropdown-content {
        display: block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid red;
    border-radius: 5px;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu-items img{
    width: 100px;
    max-width: 100%;
}


/*end header css*/
/*---------------------------------------------------------*/
/*footer css*/
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between; 
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #6b6b6b;
}

    .footer-container h3{
        color: white;
    }
    .footer-container p, .footer-container li{
        color: #b5b5b5;
    }
        .footer-container li:hover {
            color: lightgray;
        }


.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
    padding: 15px;
}

    .footer-col-2 img {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: darkgray 0px -5px 0px;
    }
        .footer-col-2 img:active {
            margin-top: 0px;
            margin-bottom: 25px;
            box-shadow: darkgray 0px 0px 0px;
        }

.footer-col-3, .footer-col-4 {
    flex-basis: 15%;
}

    .footer-col-3 h3, .footer-col-4 h3 {
        color:white;
    }

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

    .app-logo img {
        width: 140px
    }

.footer hr {
    background-color: #b5b5b5;
    margin: 30px;
}

.copyright {
    text-align: center;
}

.copyright a{
    text-align: center;
    text-decoration: none;
    color: white;
}



/*end footer css*/


/*------------------------------------------*/
/*body*/
.body-container {
    max-width: 1300px;
    margin: auto;
    padding: 30px;
    align-items: center;
}

.body-container hr{
    border:1px solid grey;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1300px;
    position: relative;
    margin: 20px;
    max-height: 400px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
    .mySlides img{
        max-height: 400px;
    }
/* Next & previous buttons */
.prev, .next {
    position: absolute;
    height: 400px;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    padding: 16px;
    color: rgb(0 0 0 / 0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    align-items: center;
    background-color: rgb(255 255 255 / 0.4);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 0px 3px 3px 0px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgb(255 255 255 / 0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
    background-color: rgb(0 0 0 / 0.6);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    margin: 0px 2px;
    height: 10px;
    width: 30px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #FA7268;
    }

.index-item {
    align-content: center;
}
.index-category {
    max-width: 1300px;
    text-align: center;
}
    .index-category .row h3 {
        font-size: 30px;
        padding: 8px 12px;
        bottom: 8px;
        width: 100%;
    }
.index-bestSeller {
    max-width: 1300px;
    text-align: center;
}



.col-1 {
    flex-basis: 100%;
    padding: 5px;

}

.col-2 {
    flex-basis: 50%;
    padding: 10px;
    border-radius: 2px;
    transition: 0.3s;
}

.col-3 {
    flex-basis: 30%;
    min-width: 160px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 2px 2px 10px 10px;
    transition: 0.3s;
}

    .col-3 img {
        max-width: 100%;
        border-radius: 2px 2px 10px 10px;
    }



    .col-3:hover {
        transform: translateY(-10px) scale(1.02, 1.02);
    }

.col-4 {
    flex-basis: 22%;
    padding: 10px;
    min-width: 160px;
    justify-content: center;
    border-radius: 2px;
    transition: 0.3s;
}
.col-5 {
    flex-basis: 20%;
    padding: 25px;
}
.col-5 img{
    width: 100%;
}

.product {

}

    .product img {
    max-width: 100%;
    border-radius: 2px;
}

    .product a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }
        .product a:hover {
            color: #FA7268;
        }

    .product h2 {
        text-align: center;
    }

    .product p {
        text-align: center;
        color: gray;
    }

    .product hr {
        border: 3px dashed gray;
        height: 0px;
    }

    .product:hover {
        transform: translateY(-5px) scale(1.005, 1.0005);
    }

.product:hover hr {
    border-block-color: #FA7268;
}

.product-detail {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.cart-product img{
    width: 100%;
}

.cart-product-item {
    align-items: stretch;
}

.cart-title {
    background-color: white;
}
.cart-title p{
    margin: 10px;
    font-size: 20px;
}
.cart-order {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

/*end body*/
/*-----------------------------------------------------------------------*/
.col-25 {
    flex-basis: 25%;
    min-width: 100px;
    justify-content: center;
}
.col-70 {
    flex-basis: 70%;
    min-width: 400px;
    justify-content: center;
}

.pd-25 {
    padding: 25px;
}
 .filter-list {
     background-color: white;
 }

.col-55 {
    flex-basis: 55%;
    min-width: 300px;
    justify-content: center;
}

.col-40 {
    flex-basis: 40%;
    min-width: 200px;
    justify-content: center;
}





/*---------------------------------------------------------*/
/*custom item*/

.border-debug {
    border: 1px solid red;
}

.height-debug {
    height: 100px;
}

.align-flex-start {
     align-items: flex-start;
}