body {
    background-color: #dedede;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*custom item*/


/*header css*/

.nav-container {
    max-width: 1300px;
    margin: auto;
    background-color: white;
    border: 1px solid red;
}

.small-navbar {
    display: flex;
    align-content: center;
    background-color: #1a1a1a;
    list-style-type: none;
}

    .small-navbar a {
        float: left;
        padding: 2px 10px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        color: lightgrey;

    }
    .small-navbar a:hover{
        color: white;
    }
.small-navbar-account {
    display:inline-block;
    float: right;
    
}
    .nor-navbar {
        display: flex;
        align-content: center;
        align-items: center;
        padding: 0px 10px;
    }
    .nor-navbar .logo {
    }
        .nor-navbar nav {
            flex: 1;
            text-align: left;
        }
        .nor-navbar nav ul {
            list-style-type: none;
            overflow: hidden;
            align-items: center;
            padding-top: 10px;
            min-width: 220px;

        }
            .nor-navbar nav ul li {
                display: inline-block;
                padding: 5px;
                float: left;
            }
                .nor-navbar nav ul li a {
                    text-decoration: none;
                    color: black;
                    font-size: 30px;
                }

                    .nor-navbar nav ul li a:hover {
                        color: #FA7268;
                    }
.find {
    display: flex;
    float: right;
}
    .find img {
        width: 30px;
        padding: 3px;
    }
    .find input {
        width: 100px;
        margin-left: 5px;
        padding: initial;
        border: 2px solid black;
    }

        .find input:focus {
            width: 200px;
            color: #FA7268;
        }
        .logo img{
        max-width: 75px;
        width: 100%;
        }
/*end header css*/

/*footer css*/
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #6b6b6b;
}

    .footer-container h3{
        color: white;
    }
    .footer-container p, .footer-container li{
        color: #b5b5b5;
    }
        .footer-container li:hover {
            color: lightgray;
        }


.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
    padding: 15px;
}

    .footer-col-2 img {
        width: 100px;
        margin-top: 5px;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: darkgray 0px -5px 0px;
    }
        .footer-col-2 img:active {
            margin-top: 0px;
            margin-bottom: 25px;
            box-shadow: darkgray 0px 0px 0px;
        }

.footer-col-3, .footer-col-4 {
    flex-basis: 15%;
}

    .footer-col-3 h3, .footer-col-4 h3 {
        color:white;
    }

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

    .app-logo img {
        width: 140px
    }

.footer hr {
    background-color: #b5b5b5;
    margin: 30px;
}

.copyright {
    text-align: center;
}

.copyright a{
    text-align: center;
    text-decoration: none;
    color: white;
}



/*end footer css*/