body {
    padding-bottom: 20px;
    background-color: #dedede;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.nav-container {
    max-width: 1300px;
    margin: auto;
    border: 1px solid red;
    background-color: white;
}

.small-navbar {
    display:flex;
    align-content:center;
    background-color: #1a1a1a;
}

    .small-navbar a {
        float: left;
        padding: 2px 10px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        color: lightgrey;
    }
    .small-navbar a:hover{
        color: white;
    }
.nor-navbar {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0px 10px;
}
    .nor-navbar .logo {
    }
    .nor-navbar nav {
        flex: 1;
        text-align: left;
    }
        .nor-navbar nav ul {
            list-style-type: none;
            overflow: hidden;
            align-items: center;
            padding-top: 10px;
            min-width: 220px
        }
            .nor-navbar nav ul li {
                display: inline-block;
                padding: 5px;
                float: left;
            }
                .nor-navbar nav ul li a {
                    text-decoration: none;
                    
                    color: black;
                    font-size: 30px;
                }

                    .nor-navbar nav ul li a:hover {
                        color: #FA7268;
                    }
.find {
    display: flex;
    float: right;
}
    .find img {
        width: 30px;
        padding: 3px;
    }
    .find input {
        width: 100px;
        margin-left: 5px;
        padding: initial;
        border: 2px solid black;
    }

        .find input:focus {
            width: 200px;
            color: #FA7268;
        }
        .logo img{
    max-width: 75px;
    width: 100%%;
}