body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.small-navbar {
    flex:1;
    align-content:center;
    background-color: #1a1a1a;
}

    .small-navbar a {
        float: left;
        height: 30px;
        padding: 5px;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        color: lightgrey;
    }
    .small-navbar a:hover{
        color: white;
    }
.nor-navbar {
    display: flex;
    align-items: center;
}
    .nor-navbar ul {
        display: inline-block;
        list-style-type: none;
        overflow: hidden;
    }
        .nor-navbar ul li {
            padding: 10px;
            display: inline-block;
            margin-right: 20px;
            float: right;
            
        }
            .nor-navbar ul li a{
                text-decoration:none;
                color: black;
                font-size: 30px;
            }

                .nor-navbar ul li a:hover {
                    color: #FA7268;
                }
