@model CoralCivet_Technology_Ecommerce_Website.Models.CustomModels.ProductIndex
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row align-flex-start">
    <!--<div class="col-25 border-debug filter-list">-->
        @*        <div class="">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <ul>
                @for (int i = 0; i < 5; i++)
                {
                    <li>item 1</li>
                }
            </ul>
        </div>*@

        <!--<label for="cars">Product:</label>
        <select name="keyboard" id="keyboard">
            <optgroup label="keyboard">
                <option value="basic">Basic keybroad</option>
                <option value="mechanical">Mechanical keybroad</option>
            </optgroup>
            <optgroup label="Mouse">
                <option value="basic">Basic Mouse</option>
                <option value="mechanical">Gaming Mouse</option>
            </optgroup>
            <optgroup label="other...">
            </optgroup>
        </select>

        <label for="cars">Product:</label>
        <select name="keyboard" id="keyboard">
            <optgroup label="keyboard">
                <option value="basic">Basic keybroad</option>
                <option value="mechanical">Mechanical keybroad</option>
            </optgroup>
            <optgroup label="Mouse">
                <option value="basic">Basic Mouse</option>
                <option value="mechanical">Gaming Mouse</option>
            </optgroup>
            <optgroup label="other...">
            </optgroup>
        </select>

        <label for="cars">Product:</label>
        <select name="keyboard" id="keyboard">
            <optgroup label="keyboard">
                <option value="basic">Basic keybroad</option>
                <option value="mechanical">Mechanical keybroad</option>
            </optgroup>
            <optgroup label="Mouse">
                <option value="basic">Basic Mouse</option>
                <option value="mechanical">Gaming Mouse</option>
            </optgroup>
            <optgroup label="other...">
            </optgroup>
        </select>
    </div>-->


    <div class="col-1 background-white">

        @Html.Partial("_SliderPartial", Model.sliders)

        <div class="row pd-25">
            @foreach (CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet.Product item in Model.products)
            {
                <div class="col-3 index-item">
                    @Html.Partial("_ProductPartial", item)
                </div>
            }
        </div>
    </div>
</div>


<script src="~/Scripts/userIndex.js"></script>


