@model IEnumerable<CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet.Type>

@foreach (var item in Model)
{
<div class="col-3 index-item category-item">
    <a>
        @if (@item.name == "Keyboard")
        {
            <img src="~/Content/Image/Keyboard.jpg" class="img-responsive center-block" alt="Keybroad.img" />
        }
        else if (@item.name == "Mouse")
        {
            <img src="~/Content/Image/Mouse.jpg" class="img-responsive center-block" alt="Keybroad.img" />
        }
        else
        {
            <img src="~/Content/Image/Other.jpg" class="img-responsive center-block" alt="Keybroad.img" />
        }

    </a>
    <h3><b>@item.name</b></h3>
</div>
}
