@model CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet.Product
<div class="product">
    <div class="product-img">
        <img src="~/Content/Image/test2.png" class="img-responsive center-block" alt="Keybroad.img" />
        <div class="btn-add">
            ADD TO CART
        </div>
        <div class="btn-like">
            LIKE
        </div>
    </div>
    <a href="@Url.Action("Detail","Product",Model)"><b>@Model.Brand.name @Model.name</b></a>
    <p class="product-color">black</p>
    <hr />
    <h3><b>@Model.price VND</b></h3>
</div>
