<div class="product">
    <div class="product-img">
        <img src="~/Content/Image/test2.png" class="img-responsive center-block" alt="Keybroad.img" />
        <div class="btn-add">
            ADD TO CART
        </div>
        <div class="btn-like">
            LIKE
        </div>
    </div>
    <a href=""><b>keychron k3 v2</b></a>
    <p class="product-color">black</p>
    <hr />
    <h3><b>200.000 VND</b></h3>
</div>
