
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-55 border-debug cart-product">
        <div class="row">
            <div class="col-1 cart-title">
                <p><b>CART</b></p>
            </div>

            <div class="col-1 ">
                <hr />
                <div class="row cart-product-item">
                    <div class="col-4 border-debug">
                        <img src="~/Content/Image/test2.png" alt="Product.img" />
                    </div>
                    <div class="col-2 border-debug">
                        <h2>Product Name</h2>
                        <h3>Price:</h3>
                        <br />
                        <div class="row">
                            <div class="col-2">
                                Qty:
                            </div>
                            <div class="col-2">
                                Color:
                            </div>
                        </div>
                    </div>
                    <div class="col-4 border-debug">
                        <p>200.000 VND</p>
                        <p>available</p>
                        <button>LIKE</button>
                        <br />
                        <br />
                        <button>DELETE</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-40 border-debug cart-order">
        <p>ORDER</p>
        <hr />
        <p>promo code</p>
        <input type="text" />
        <hr />
        <p>Order</p>
        <p>Discount</p>
        <button>CONTINUE</button>
    </div>

</div>

