@model CoralCivet_Technology_Ecommerce_Website.Models.CustomModels.OrderIndex
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-55 border-debug cart-product">
        <div class="row">
            <div class="col-1 cart-title">
                <p><b>DELIVERY INFORMATION</b></p>

                <input type="text" />
                <input type="text" />
                <input type="text" />
                <input type="text" />
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>

            <div class="col-1 cart-title">
                <p><b>DELIVERY TYPE</b></p>

                <input type="text" />
                <input type="text" />
            </div>
        </div>
    </div>
    <div class="col-40 border-debug cart-order">
        <p>ORDER</p>
        <hr />

        <div class="row">
            <div class="order-item">
                @foreach (var item in Model.orderList)
                {
                    <div class="col-1">
                        <p><b>@item.Product.Brand.name @item.Product.name</b></p>
                        <p>@item.Product.price</p>
                        <p>Qty: @item.quantity</p>
                    </div>
                }
            </div>
        </div>

        <hr />
        <p>Order: </p>
        <p>Discount: </p>
        <p>Delivery fee: 25.000 VND</p>
        <hr />
        <p>Total: </p>
        <button>COMFIRM ORDER</button>
    </div>

</div>

