@{
    ViewBag.Title = "Home Page";
    <script src="~/Scripts/userIndex.js"></script>
}

<div class="slideshow-container">
    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/Image/slider1.png" style="width:100%">
        <div class="text">Caption Text</div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/Image/slider2.png" style="width:100%">
        <div class="text">Caption Text</div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/Image/slider3.png" style="width:100%">
        <div class="text">Caption Text</div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>

<div style="text-align:center">
    <span class="dot" onmouseover="currentSlide(1)"></span>
    <span class="dot" onmouseover="currentSlide(2)"></span>
    <span class="dot" onmouseover="currentSlide(3)"></span>
</div>
<div class="index-categlory">
    <h2 class="col-md-12 text-center"><b>CATEGLORYS</b></h2>
    <span class="dot"></span>
    <div class="row">
        <div class="col-md-4 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="Keybroad.img" />
            <h3>Keybroad</h3>
        </div>

        <div class="col-md-4 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="mouse.img" />
            <h3>Mouse</h3>
        </div>

        <div class="col-md-4 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="clock.img" />
            <h3>Clock</h3>
        </div>
    </div>
</div>

<div class="index-bestSeller">
    <h2 class="col-md-12 text-center"><b>BEST SELLER</b></h2>
    <span class="dot"></span>
    <div class="row">
        <div class="col-md-3 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="Keybroad.img" />
            <h3>keychron k3 v2</h3>
        </div>

        <div class="col-md-3 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="mouse.img" />
            <h3>keychron k6</h3>
        </div>

        <div class="col-md-3 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="clock.img" />
            <h3>logitech g503</h3>
        </div>

        <div class="col-md-3 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="clock.img" />
            <h3>clock g7</h3>
        </div>
    </div>
</div>

<div class="index-news">
    <h2 class="col-md-12 text-center"><b>NEWS</b></h2>
    <span class="dot"></span>
    <div class="row">
        <div class="col-md-4 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="Keybroad.img" />
            <h3>Keybroad</h3>
        </div>

        <div class="col-md-4 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="mouse.img" />
            <h3>Mouse</h3>
        </div>

        <div class="col-md-4 index-item">
            <img src="~/Content/Image/logo.svg" class="img-responsive center-block" alt="clock.img" />
            <h3>Clock</h3>
        </div>
    </div>
</div>


<script src="~/Scripts/userIndex.js"></script>