@{
    ViewBag.Title = "Home Page";
    <script src="~/Scripts/userIndex.js"></script>
}

<div class="slideshow-container">
    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/Image/slider1.png" style="width:100%">
        <div class="text">Caption Text</div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/Image/slider2.png" style="width:100%">
        <div class="text">Caption Text</div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="~/Content/Image/slider3.png" style="width:100%">
        <div class="text">Caption Text</div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>

<div style="text-align:center">
    <span class="dot" onmouseover="currentSlide(1)"></span>
    <span class="dot" onmouseover="currentSlide(2)"></span>
    <span class="dot" onmouseover="currentSlide(3)"></span>
</div>

<div class="index-category">
    <h1 class="col-1"><b>CATEGORIES</b></h1>
    <div class="row">
        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="Keybroad.img" />
            <h3><b>KEYBROAD</b></h3>
        </div>

        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="mouse.img" />
            <h3><b>MOUSE</b></h3>
        </div>

        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="clock.img" />
            <h3><b>ACCESSORIES</b></h3>
        </div>
    </div>
    <br />
    <br />
    <hr />
</div>


<div class="index-bestSeller">
    <h1 class="col-5 text-center"><b>BEST SELLER</b></h1>
    <div class="row">
        @for (int i = 0; i < 4; i++)
        {
            <div class="col-4 index-item">
                @Html.Partial("_ProductPartial")
            </div>
        }
    </div>
    <br />
    <br />
    <hr />
</div>

<div class="index-news">
    <h1 class="col-1 text-center"><b>NEWS</b></h1>
    <div class="row">
        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="Keybroad.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>

        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="mouse.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>

        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="clock.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>
    </div>
    <br />
    <br />
</div>


<script src="~/Scripts/userIndex.js"></script>