@model IEnumerable<CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet.slider>
@{
    ViewBag.Title = "Home Page";
    <script src="~/Scripts/userIndex.js"></script>
}
<div>

    @Html.Partial("_SliderPartial",Model)
</div>


<div class="index-category">
    <h1 class="col-1"><b>CATEGORIES</b></h1>
    <div class="row">
        @foreach (var item in ViewBag.Types)
        {
            <div class="col-3 index-item">
                <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="Keybroad.img" />
                <h3><b>@item.name</b></h3>
            </div>
        }
    </div>
    <br />
    <br />
    <hr />
</div>


<div class="index-bestSeller">
    <h1 class="col-5 text-center"><b>BEST SELLER</b></h1>
    <div class="row">
        @foreach (CoralCivet_Technology_Ecommerce_Website.Models.CoralCivet.Product item in ViewBag.Products)
        {
            <div class="col-4 index-item">
                @Html.Partial("_ProductPartial", item)
            </div>
        }
    </div>
    <br />
    <br />
    <hr />
</div>

<div class="index-news">
    <h1 class="col-1 text-center"><b>NEWS</b></h1>
    <div class="row">
        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="Keybroad.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>

        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="mouse.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>

        <div class="col-3 index-item">
            <img src="~/Content/Image/test1.png" class="img-responsive center-block" alt="clock.img" />
            <h3><b>this is heading 3</b></h3>
            <p>
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
                this is content,
            </p>
        </div>
    </div>
    <br />
    <br />
</div>


<script src="~/Scripts/userIndex.js"></script>