<aside class="main-sidebar hidden-print ">
    <section class="sidebar" id="sidebar-scroll">
        <!-- Sidebar Menu-->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/Admin/Category">
                    <i class="fas fa-list"></i><span> Loại sản phẩm</span>
                </a>
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/Admin/Product">
                    <i class="fab fa-product-hunt"></i><span> Sản phẩm</span>
                </a>
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/Admin/Order">
                    <i class="fas fa-file-invoice"></i><span> Đơn hàng</span>
                </a>
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/Admin/Post">
                    <i class="fas fa-newspaper"></i><span> Bài viết</span>
                </a>
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/Admin/Topic">
                    <i class="fas fa-list-alt"></i><span> Chủ đề bài viết</span>
                </a>
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/Admin/User">
                    <i class="fas fa-user"></i><span> Tài khoản</span>
                </a>
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/Admin/Contact">
                    <i class="fas fa-envelope-square"></i><span> Liên hệ</span>
                </a>
            </li>
            <li class="treeview">
                <a class="waves-effect waves-dark" href="/Admin/Slider">
                    <i class="fas fa-sliders-h"></i><span> Ảnh bìa</span>
                </a>
            </li>
        </ul>
    </section>
</aside>
